.main {
  height: 100vh;
  background-image: url("../../img/bg.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-right: 3.333vw;
  padding-left: 2.917vw;
  display: flex;
  flex-direction: column;

  .container {
    max-width: 1920px;
    padding: 0;
    margin: 0 auto;
  }

  &__center {
    row-gap: 2.037vh;
    display: flex;
    flex-direction: column;
  }

  header {
    padding-top: 2.037vh;
    display: flex;
    align-items: center;

    nav {
      padding-left: 6.25vw;
      width: 100%;

      ul {
        justify-content: space-between;
        display: flex;
        align-items: center;

        li {
          font-family: Arial;
          @include font-size(16px, 25.4px);
          line-height: 17px;
          font-weight: 400;
          color: #344760;

          .menu {

            img {
              height: 4.537vh;
              width: 6.979vw;
            }
          }
        }
      }
    }
  }

  .column {

    &__1 {
      margin-left: 2.188vw;
    }

    &__2 {
      margin-left: 4.219vw;

    }

    &__3 {
      margin-left: 4.74vw;

    }

    &__4 {
      margin-left: 4.531vw;
    }

    &__5 {
      margin-left: 4.479vw;
    }

    &__6 {
      margin-left: 3.906vw;
    }

    &__8 {
      margin-left: 1.458vw;
    }

    &__9 {
      margin-left: 1.354vw;
    }

    &__10, &__11, &__14, &__15 {
      margin-left: 1.563vw;
    }

    &__12 {
      margin-left: 1.771vw;
    }

    &__13 {
      margin-left: 1.719vw;
    }

    &__16 {
      margin-left: 1.615vw;
    }

    &__17 {
      margin-left: 1.667vw;
    }

    &__7, &__8, &__9, &__10, &__11, &__12, &__13, &__14, &__15, &__16, &__17 {
      .column__top {
        background-color: #917886 !important;
      }
    }

    &__st2 {
      .column__top {
        opacity: 0.3;
      }

      .column__search {
        opacity: 0.3;
      }
    }

    &__st3 {
      .column__top {
        opacity: 0.3;
      }

      .column__search, .column__video, .column__audio {
        opacity: 0.08;
      }
    }

    display: flex;
    flex-direction: column;
    width: 7.083vw;
    align-items: center;

    &__top {
      width: 7.083vw;
      height: 7.222vh;
      background-color: #e9752c;
      display: flex;
      align-items: center;
      justify-content: center;

      span {
        font-family: 'Times New Roman';
        @include font-size(10px, 29px);
        line-height: 27px;
        font-weight: 400;
        color: #ffffff;
        text-align: center;
      }
    }

    &__shop {
      opacity: 0.3;
      width: 4.219vw;
      height: 7.963vh;
      object-fit: cover;
      margin-top: 1.574vh;

      img {
        height: 100%;
        width: 100%;
      }
    }

    &__audio {
      opacity: 0.3;
      width: 3.958vw;
      height: 6.852vh;
      margin-top: 2.037vh;

      img {
        height: 100%;
        width: 100%;
      }
    }

    &__video {
      width: 4.271vw;
      height: 6.296vh;
      opacity: 0.3;
      margin-top: 2.315vh;

      img {
        height: 100%;
        width: 100%;
      }
    }

    &__search {
      width: 4.323vw;
      height: 6.019vh;
      margin-top: 2.407vh;

      img {
        height: 100%;
        width: 100%;
      }
    }

  }

  &__row {
    display: flex;
    row-gap: 2.037vh;

    margin-top: 2.593vh;

    &:last-child {
      margin-top: 0;
      margin-bottom: 2.963vh;
    }
  }

  .player {
    display: flex;
    height: 43.056vh;
    max-height: 44.815vh;
    flex-direction: column;
    width: 27.187vw;
    gap: 5px;
    cursor: pointer;

    img {
      height: 100%;
      width: 100%;
      max-height: 35.648vh;
      opacity: 0.5;
      flex: 1;
    }

    &__top {
      height: 7.222vh;
      margin-right: 1.979vw;
      padding-top: 6px;
      padding-bottom: 5px;
      padding-left: 0.573vw;
      background-color: #908a8a;
      display: flex;
      flex-direction: column;

      span {
        font-family: Times New Roman;
        @include font-size(16px, 25px);
        line-height: 20px;
        font-weight: 400;
        color: #ffffff;
      }
    }
  }
}