.main {
  height: 100vh;
  background-image: url("../../img/bg.webp");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  background-position: center;
  padding-right: 3.333vw;
  padding-left: 2.917vw;
  display: flex;
  flex-direction: column;

  &__desk {
    display: flex;
  }

  &__tablet {
    display: none ;
  }

  .container {
    max-width: 1920px;
    padding: 0;
    margin: 0 auto;
  }

  &__center {
    row-gap: 2.037vh;
    flex-direction: column;
  }

  header {
    padding-top: 2.037vh;
    display: flex;
    align-items: center;

    nav {
      padding-left: 6.25vw;
      width: 100%;

      ul {
        display: flex;
        align-items: center;

        li {

          &:nth-child(2), &:nth-child(6) {
            margin-left: 5.313vw;
          }
          &:nth-child(3) {
            margin-left: 6.146vw;
          }
          &:nth-child(4), &:nth-child(5) {
            margin-left: 6.458vw;
          }

          &:nth-child(7) {
            margin-left: 2.917vw;
          }

          &:last-child {
            margin-left: auto;
          }

          font-family: Arial;
          font-size: 1.323vw;
          white-space: nowrap;
          line-height: 17px;
          font-weight: 400;
          cursor: pointer;
          color: #344760;

          @media screen and (min-width: var(--big-desk)) {
            font-size: 25.4px;
          }

          .lk {
            display: flex;
            align-items: center;
            gap: 0.625vw;
            max-width: 232px;

            img {
              height: 4.167vh;
              width: 2.344vw;
              object-fit: contain;
            }

            span {
              font-family: Arial;
              font-size: 1.2vw;
              font-weight: 400;
              color: #ffffff;

              @media screen and (min-width: var(--big-desk)) {
                font-size: 23px;
              }
            }
          }

          .menu {

            border-radius: 6px;
            border: 2px solid white;
            display: flex;
            height: 4.537vh;
            gap: 0.573vw;
            justify-content: center;
            width: 6.979vw;
            align-items: center;

            &__burger {
              display: flex;
              flex-direction: column;
              height: 100%;
              justify-content: center;
              row-gap: 0.463vh;

              span {
                background-color: white;
                width: 1.927vw;
                height: 0.463vh;
                border-radius: 4px;
              }
            }

            > span {
              font-family: Arial;
              font-size: 1.2vw;
              line-height: 27px;
              font-weight: 400;
              color: #ffffff;

              @media screen and (min-width: var(--big-desk)) {
                font-size: 23px;
              }
            }
          }
        }
      }
    }
  }

  .column {

    .polygon {
      display: flex;
      width: 100%;
      align-items: center;
      flex-direction: column;

      &:after {
        content: '';
        position: absolute;
        opacity: 0;
        left: 0;
        top: 8.426vh;
        z-index: 0;
        right: 0;
        background-color: rgba(255, 255, 255, 0.3);
        transition: all 0.2s ease-in-out;
        bottom: -10px;
      }

      &:hover {
        &:after {
          opacity: 1;
        }
      }
    }

    position: relative;
    user-select: none;

    &__1 {
      margin-left: 2.188vw;
    }

    &__2 {
      margin-left: 4.219vw;

    }

    &__3 {
      margin-left: 4.74vw;

    }

    &__4 {
      margin-left: 4.531vw;
    }

    &__5 {
      margin-left: 4.479vw;
    }

    &__6 {
      margin-left: 3.906vw;
    }

    &__8 {
      margin-left: 1.458vw;
    }

    &__9 {
      margin-left: 1.354vw;
    }

    &__10, &__11, &__14, &__15 {
      margin-left: 1.563vw;
    }

    &__12 {
      margin-left: 1.771vw;
    }

    &__13 {
      margin-left: 1.719vw;
    }

    &__16 {
      margin-left: 1.615vw;
    }

    &__17 {
      margin-left: 1.667vw;
    }

    &__st3-active {
      animation-name: anim2;
      animation-duration: 1.2s;
      animation-delay: 0.5s;
      animation-iteration-count: infinite;
    }

    &__st2-active {
      animation-name: anim1;
      animation-duration: 1.2s;
      animation-delay: 0.5s;
      animation-iteration-count: infinite;
    }

    &__st2-3-active {
      background-color: rgba(233, 117, 44, 1) !important;
    }

    &__st3-2-active {
      animation-name: anim2-2;
      animation-duration: 1.2s;
      animation-delay: 0.5s;
      animation-iteration-count: infinite;
    }

    &__st2-2-active {
      animation-name: anim1-2;
      animation-duration: 1.2s;
      animation-delay: 0.5s;
      animation-iteration-count: infinite;
    }

    &__st3-3-active {
      background-color: rgba(125, 97, 155, 1) !important;
    }

    &__st2 {



      .column__top {
        background-color: rgba(233, 117, 44, 0.7);



      }

      .column__search {
        opacity: 0.3;
      }
    }

    &__st3 {
      .column__top {
        background-color: rgba(233, 117, 44, 0.7);
      }

      .column__search {
        opacity: 0.3;
      }
    }

    &__7, &__8, &__9, &__10, &__11, &__12, &__13, &__14, &__15, &__16, &__17 {
      .column__top {
        background: rgba(125, 97, 155, 0.7);
        opacity: 1 !important;
      }

      .column__shop {
        margin-top: 1.759vh !important;
      }

      .column__audio {
        margin-top: 2.13vh !important;
      }

      .column__search {
        margin-top: 2.222vh !important;
      }
    }

    display: flex;
    flex-direction: column;
    width: 7.083vw;
    align-items: center;

    &__top {
      width: 7.083vw;
      max-width: 136px;
      height: 7.222vh;
      background-color: #e9752c;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.2s ease-in-out;

      span {
        font-family: 'Times New Roman';
        font-size: 1.51vw;
        color: #ffffff;
        text-align: center;

        @media screen and (min-width: var(--big-desk)) {
          font-size: 29px;
        }
      }
    }

    &__shop {
      transition: all 0.1s ease-in-out;
      opacity: 0.3;
      z-index: 5;
      width: 4.219vw;
      height: 7.963vh;
      object-fit: cover;
      margin-top: 1.574vh;

      img {
        user-select: none;
        height: 100%;
        width: 100%;
        object-fit: contain;
      }

      &:hover {
        opacity: 1 !important;
      }
    }

    &__audio {
      transition: all 0.1s ease-in-out;
      opacity: 0.3;
      z-index: 5;
      width: 3.958vw;
      height: 6.852vh;
      margin-top: 2.037vh;

      img {
        height: 100%;
        width: 100%;
        object-fit: contain;
      }

      &:hover {
        opacity: 1 !important;
      }
    }

    &__video {
      transition: all 0.1s ease-in-out;
      z-index: 5;
      width: 4.271vw;
      height: 6.296vh;
      opacity: 0.3;
      margin-top: 2.315vh;

      img {
        object-fit: contain;
        height: 100%;
        width: 100%;
      }

      &:hover {
        opacity: 1 !important;
      }
    }

    &__search {
      z-index: 5;
      width: 4.323vw;
      height: 6.019vh;
      margin-top: 2.407vh;
      transition: all 0.2s ease-in-out;

      img {
        object-fit: contain;
        height: 100%;
        width: 100%;
      }

      &:hover {
        opacity: 1 !important;
      }
    }

  }

  &__row {
    display: flex;
    row-gap: 2.037vh;

    margin-top: 2.593vh;

    &:last-child {
      margin-top: 0;
      margin-bottom: 2.963vh;
    }
  }

  .player-mobile {
    display: none;
  }

  .player {
    display: flex;
    height: 43.056vh;
    max-height: 44.815vh;
    flex-direction: column;
    width: 27.187vw;
    gap: 5px;
    cursor: pointer;

    img {
      height: 100%;
      width: 100%;
      max-height: 35.648vh;
      opacity: 0.5;
      flex: 1;
    }

    &__top {
      min-height: 7.222vh;
      margin-right: 1.979vw;
      padding-top: 0.556vh;
      padding-bottom: 0.463vh;
      padding-left: 0.573vw;
      background-color: #908a8a;
      display: flex;
      justify-content: space-between;
      flex-direction: column;

      span {
        font-family: Times New Roman;
        font-size: 2.315vh;
        line-height: 2vh;
        font-weight: 400;
        color: #ffffff;

        @media screen and (min-width: var(--big-desk)) {
          font-size: 25px;
        }
      }
    }
  }
}

.column {


  .polygon:hover > .column__shop, .polygon:hover > .column__audio, .polygon:hover > .column__video, .polygon:hover > .column__search {
    opacity: 0.5;
  }

}

.polygon:hover + .column__top {
  background-color: gainsboro;
}

.drawer {

  .close {
    user-select: none;
  }

  bottom: 0;
  top: 0;
  position: fixed;
  z-index: 999;
  width: 370px;
  transition: right 0.3s ease-in-out;
  background-color: #7e90a5;

  &__open {
    right: 0;
  }

  &__close {
    right: -100%;
  }

  &__top {
    width: 100%;
    height: 90px;
    background-color: #7e90a5;
    border-bottom: 3px solid #b8babb;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 40px;
  }

  &__element {

    height: 94px;
    background-color: #7e90a5;
    border-bottom: 3px solid #b8babb;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease-in-out;

    &:hover {
      background-color: #4a5d73;
    }

    span {
      font-family: 'Arial';
      font-size: 29px;
      line-height: 26px;
      font-weight: 400;
      color: #ffffff;
      text-align: center;
    }
  }
}

@keyframes anim1 {
  0% {background-color: rgba(233, 117, 44, 0.7);}
  50% {background-color: rgba(233, 117, 44, 1);}
  100% {background-color: rgba(233, 117, 44, 0.7);}
}

@keyframes anim1-2 {
  0% {background-color: rgba(233, 117, 44, 0.5);}
  50% {background-color: rgba(233, 117, 44, 1);}
  100% {background-color: rgba(233, 117, 44, 0.5);}
}

@keyframes anim2 {
  0% {background-color: rgba(125, 97, 155, 0.7);}
  50% {background-color: rgba(125, 97, 155, 1);}
  100% {background-color: rgba(125, 97, 155, 0.7);}
}

@keyframes anim2-2 {
  0% {background-color: rgba(125, 97, 155, 0.5);}
  50% {background-color: rgba(125, 97, 155, 1);}
  100% {background-color: rgba(125, 97, 155, 0.5);}
}