@media screen and (max-width: 1024px) and (orientation: landscape) {


  header {
  }

  .container {
    width: 2558px !important;
    max-width: 2558px !important;
    overflow: hidden !important;
    height: 1180px;
    margin: 0;
    flex: 0 0 2558px !important;
    padding: 9px 149px 0px 110px !important;
  }

  .column {
    margin-left: 0 !important;
    &__top {

      display: flex;
      justify-content: center !important;
      align-items: center;
      padding-top: 2.182vh !important;
      padding-bottom: 2.091vh !important;
      padding-left: 0.512vw !important;
      padding-right: 0.63vw !important;

      span {
        font-size: 48.2px !important;
        line-height: 58px !important;

      }


    }

    &:nth-child(1), &:nth-child(4), &:nth-child(7), &:nth-child(10), &:nth-child(13), &:nth-child(16) {
      margin-right: 91px;
    }

    &:nth-child(2), &:nth-child(5), &:nth-child(8), &:nth-child(11), &:nth-child(14), &:nth-child(17) {
      margin-right: 95px;
    }

    //&:nth-child(2n) {
    //  margin-right: 95px;
    //}

  }

  .player {
    width: 100% !important;
    height: 795px !important;
    gap: 0.909vh !important;

    .resize {
      top: 124px !important;
      right: 32px !important;
      width: 112px !important;
      height: 112px !important;
      opacity: 0.74 !important;
      box-shadow: 1px 3px 2px 0px #4e97bb !important;
    }

    .video-js {
      max-height: 700px !important;
      width: 100%;
      height: 100% !important;

      .vjs-poster img {
        object-fit: cover !important;
      }

      .vjs-big-play-button {
        font-size: 7em !important;
      }
    }

    &__top {
      width: 1198px !important;
      padding-left: 21px !important;
      padding-right: 5px !important;
      height: 84px !important;
      min-height: 84px !important;
      margin-right: 0 !important;
      flex-direction: row !important;
      justify-content: flex-start !important;
      gap: 10px;

      span {
        font-weight: 700 !important;
        font-family: TimesNewRoman,Times New Roman,Times,Baskerville,Georgia,serif;
        line-height: normal !important;
        font-size: 50.1px !important;
        white-space: nowrap;
        overflow: hidden;
      }

      .number {
        font-family: "Noto Serif JP", serif !important;
        line-height: 1 !important;

      }
    }
  }

  nav {
    padding-left: 0 !important;


    ul {
      justify-content: flex-end !important;
      gap: 63px;

      li {
        &:nth-child(-n+6) {
          display: none;
        }

        &:last-child {
          margin-left: 0 !important;
        }

        .menu  {
          width: 324px !important;
          max-width: 324px !important;
          height: 121px !important;
          border: 5px solid #ffffff !important;
          border-radius: 24px !important;

          gap: 28px !important;

          span {
            font-size: 56.4px !important;
          }

          &__burger {

            row-gap: 19px !important;

            span {
              height: 9px !important;
              width: 91px !important;
            }
          }
        }

        .lk {
          margin-top: 10px;
          width: 565px;
          max-width: 565px !important;
          height: 106px;
          span {
            font-size: 56.4px !important;
          }
          gap: 35px !important;
          img {
            width: 106px !important;
            height: 106px !important;
          }
        }
      }
    }
  }

  .main {

    &__desk {
      display: none !important;
    }

    &__tablet {
      display: grid !important;
      margin-top: 16px;
      grid-template-columns: 1244px 1fr;
      height: 100%;
      gap: 103px ;
      overflow: hidden;
    }

    &__row {
      margin-bottom: 140px;
      margin-top: 0 !important;
      row-gap: 14px !important;
      flex-wrap: wrap;
      display: grid;
      overflow-y: scroll;
      grid-template-columns: 1fr 1fr 1fr;

      &:last-child {
        margin-top: 0 !important;
      }

      .column {

        width: 254px;
        height: 882px;

        &__1 {
          margin-left: 4.488vw !important;
        }

        margin-left: auto;

        &__shop {
          width: 151px;
          height: 162px;
          margin-top: 30px;

          img {
            width: 151px;
            height: 162px;
          }
        }

        &__audio {
          width: 145px;
          height: 139px;
          margin-top: 44px !important;

          img {
            width: 145px;
            height: 139px;
          }
        }

        &__video {
          width: 156px;
          height: 129px;
          margin-top: 41px;

          img {
            width: 156px;
            height: 129px;
          }
        }

        &__search {
          width: 157px;
          height: 123px;
          margin-top: 44px !important;

          img {
            width: 157px;
            height: 123px;
          }
        }

        &__top {
          max-width: 254px;
          width: 254px;
          height: 147px;
        }

        &:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4), &:nth-child(5), &:nth-child(6) {
          .column__top {
            background-color: rgba(233, 117, 44, 0.3) ;
          }
        }



        .polygon {
          align-items: center;

          &:after {
            top: 167px !important;
            bottom: 0 !important;
          }



        }
      }
    }
  }


  .drawer {

    width: 594px;
    height: auto;

    &__top {
      padding-right: 64px;
      height: 150px;

      button {

        display: flex;
        align-items: center;
        width: 31px !important;
        height: 30px !important;

        img {
          height: 100%;
          width: 100%;
        }
      }
    }

    &__element {
      height: 150px;

      span {
        font-size: 46.5px;
        line-height: 41px;
      }

      &:nth-child(7) {
        border: none;
      }
    }

    bottom: auto;

    button.drawer__element {
      &:last-child {
        border: none;
      }
    }

    > div.drawer__element {
      display: none;
    }

  }


  #dialog1 {
    position: absolute;
    right: 54px;
    border-radius: 16px;
    left: auto;
    bottom: auto;
    top: 140px;
    width: 1422px;
    height: 962px;
    background: rgba(252, 254, 231, 0.75);
    opacity: 1;
    z-index: 999;
    margin-left: auto;
    visibility: hidden;
  }

  .dialog {

    &__dostup {
      display: block;
      align-self: center;
      margin-top: 63px;
      margin-bottom: 88px;
      height: 41px;
      width: 541px;
    }

    &__top {
      border-top-left-radius: 16px;
      border-top-right-radius: 16px;
      height: 80px;

    }

    &__close {
      width: 54px;
      height: 54px;
    }

    &__checkbox {
      padding-left: 301px;
      gap: 16px;

      &:first-child {
        margin-top: 37px;
        height: 37px;
      }

      &:nth-child(2) {
        height: 37px;
        margin-top: 30px;
      }

      &:nth-child(6) {
        margin-top: 31px;
      }

      &:nth-child(7) {
        margin-top: 25px;
      }

      &:nth-child(8) {
        margin-top: 31px;
      }
    }

    &__top {
      height: 80px;
      padding-right: 14px;
      align-items: center;
      padding-left: 44px;

      h4 {
        padding-top: 0;
        font-size: 48.9px;
        line-height: 18px;

        color: #000000;
      }

      button {
        margin-top: 0;
      }
    }

    &__center {
      margin-top: 30px;

      button {
        width: 191px;
        height: 191px;
        right: 135px;
        bottom: 133px;

        img {
          width: 191px;
          height: 191px;
        }
      }

      h5 {
        font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
        font-size: 62.3px;
        font-weight: 400;
        line-height: 57px;
        color: #000000;
      }

      form {

        h3 {
          display: none;
        }

        h5 {
          margin-top: 22px;
          line-height: 55px;
        }

        .sep {
          margin-top: 14px;
          margin-bottom: 0;
          width: 944px;

          height: 5px;
          box-shadow: 0px 1px 1px 0px #676666;
        }

        .sub {
          margin-top: 40px;
          font-size: 35.8px;
        }

        label {
          font-size: 40.2px;
          line-height: normal !important;
        }

        h3 {
          margin-top: 5.409vh;
          margin-bottom: 7.045vh;
          font-size: 4.056vw;
          line-height: 2.455vh;
          font-weight: 700;
          text-shadow: 2px 3px 3px #000000;
          color: #139306;
        }
      }
    }
  }

  input[type='radio'] {
    width: 30px;
    height: 32px;
  }

  input[type='radio']:hover {
    width: 30px;
    height: 32px;
  }

  input[type='radio']:checked {
    width: 30px;
    height: 32px;
  }

  .main__row:last-child .column:nth-child(1) {

    .column__search {
      opacity: 1 !important;
    }
  }

}

