@media screen and (max-width: 680px) and (orientation: portrait) {

  header {
    left: 0;
    right: 0;
    padding: 0 !important;
    top: 0.82vh;
  }

  .player-mobile {
    display: flex !important;
    margin-top: 0;
    row-gap: 0.787vh;
    flex-direction: column;
    z-index: 999;
    left: 0;
    top: 7.377vh;
    padding: 0 !important;

    video {
      max-height: 38.937vh;
      width: 100%;
      object-fit: cover;
    }

    &__top {
      height: 2.835vh;
      width: 100%;
      background-color: #908a8a;
      padding-left: 2.708vw;
      padding-right: 1.667vw;
      display: flex;
      align-items: center;
      justify-content: space-between;



      span {
        font-weight: 700;
        color: #ffffff;
        font-family: 'Times New Roman PS';
        font-size: 4.34vw;
      }
    }
  }

  .container {
    width: 100%;
    max-width: 93.819vw !important;
    grid-template-rows: 1fr 4fr 6fr;
    display: grid;
    height: 100vh;
    overflow: hidden;
  }

  nav {
    padding-left: 0 !important;


    ul {
      justify-content: flex-end !important;
      gap: 3.889vw;

      li {
        &:nth-child(-n+6) {
          display: none;
        }

        &:last-child {
          margin-left: 0 !important;
        }

        .menu  {
          height: 4.567vh !important;
          width: 21.597vw !important;
          gap: 1.597vw !important;

          span {
            font-size: 16px !important;
          }

          &__burger {

            row-gap: 0.6vh !important;

            span {
              height: 0.433vh !important;
              width: 5.972vw !important;
            }
          }
        }

        .lk {
          span {
            font-size: 16px !important;
          }
          gap: 2.222vw !important;
          img {
            width: 7.153vw !important;
            height: 4.055vh !important;
          }
        }
      }
    }
  }

  .main {
    height: auto;
    padding: 0 3.611vw !important;

    &__center {
      margin-top: 2vh;
      overflow: scroll;
    }

    .container {
      width: 100%;
      padding: 0;
      height: 100vh;
      flex: none;
    }

    &__row {
      margin-top: 0;
      margin-right: 3.472vw;
      flex-direction: column;
      row-gap: 0.906vh !important;
      &:first-child {
        .player {
          display: none;
        }
      }

      &:last-child {
        margin-bottom: 2vh !important;

        .column {
          &:last-child {
            margin-bottom: 2vh;
          }
        }
      }

      .column {
        width: 100%;
        margin-left: 0 !important;
        flex-direction: row;


        &__shop {
          width: 13.75vw;
          height: 8.346vh;
          margin-left: 3.819vw;
        }

        &__audio {
          margin-left: 4.444vw;
          width: 15.347vw;
          height: 8.346vh;
          max-width: max-content;
        }

        &__video {
          margin-left: 4.583vw;
          width: 15.417vw;
          height: 7.362vh;
          max-width: max-content;
        }

        &__search {
          margin-left: 4.444vw;
          width: 15.625vw;
          height: 6.89vh;
          max-width: max-content;
        }

        &__top {
          max-width: 9.306vw;
          width: 9.306vw;
          height: auto;
          padding-top: 0.748vh;
          padding-bottom: 0.591vh;
          padding-right: 0.833vw;
          padding-left: 0.786vw;
          justify-content: space-between;

          span  {
            font-weight: 700;
            letter-spacing: -0.15em;
            display: flex;
            align-items: center;
            width: 100%;
            font-size: 12px;
            height: 100%;

            br {
              display: none;
            }

            justify-content: space-between;

            .frag {
              @include font-size(15px, 50.3px, 380px, 2540px, true);
              display: block;
              word-break: break-all;
              line-height: 1;
              max-width: 1.2vw;
            }
          }
        }

        .polygon {
          flex-direction: row !important;
          align-items: center;

          &:after {
            top: 0 !important;
            bottom: 0 !important;
            left: 11.389vw;
          }

          button {
            margin-top: 0 !important;
          }
        }
      }
    }
  }

  .drawer {
    width: 60%;

    &__top {
      padding-right: 3.346vw;
      height: 9vh;

      button {

        display: flex;
        align-items: center;

        img {
          width: 5vw;
          height: 2vh;
        }
      }
    }

    &__element {
      height: 10vh;

      span {
        font-size: 2vh;
      }

      &:nth-child(6) {
        border: none;
      }
    }

    bottom: auto;

    button.drawer__element {
      &:last-child {
        border: none;
      }
    }

    > div.drawer__element {
      display: none;
    }

  }
}