.main {
  height: 100vh;
  width: 100vw;
  background-image: url("../../img/bg.webp");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  background-position: center;
  display: flex;
  align-items: center;
  margin: 0;
  justify-content: center;

  &__desk {
    display: flex;
  }

  &__tablet {
    display: none ;
  }

  .container {
    width: 1920px;
    max-width: 1920px;
    overflow: hidden;
    height: 1080px;
    margin: 0;
    flex: 0 0 1920px;
    padding: 21px 64px 21px 56px;
  }

  &__center {
    row-gap: 27px;
    flex-direction: column;
  }

  header {
    display: flex;
    align-items: center;

    nav {
      padding-left: 120px;
      width: 100%;

      ul {
        display: flex;
        align-items: center;

        li {

          &:nth-child(2), &:nth-child(6) {
            margin-left: 102px;

          }
          &:nth-child(3) {
            margin-left: 118px;
          }
          &:nth-child(4), &:nth-child(5) {
            margin-left: 124px;

          }

          &:nth-child(7) {
            margin-left: 56px;
          }

          &:last-child {
            margin-left: auto;
          }

          font-family: Arial;
          font-size: 25.4px;
          white-space: nowrap;
          line-height: 17px;
          font-weight: 400;
          cursor: pointer;
          color: #344760;

          @media screen and (min-width: 2000px) {
            font-size: 25.4px;
          }

          .lk {
            display: flex;
            align-items: center;
            gap: 13px;
            max-width: 232px;

            img {
              height: 43px;
              width: 43px;
              object-fit: contain;
            }

            span {
              font-family: 'Arial';
              font-size: 23px;
              font-weight: 400;
              color: #ffffff;

            }
          }

          .menu {

            display: flex;
            height: 50px;
            border: 2px solid #ffffff;
            border-radius: 8px;
            max-width: 134px;
            gap: 11px;
            justify-content: center;
            width: 134px;
            align-items: center;

            &__burger {
              display: flex;
              flex-direction: column;
              height: 100%;
              justify-content: center;
              row-gap: 6px;

              span {
                background-color: white;
                width: 36px;
                height: 5px;
                border-radius: 4px;
              }
            }

            > span {
              font-family: Arial;
              font-size: 23px;
              line-height: 27px;
              font-weight: 400;
              color: #ffffff;

              @media screen and (min-width: 2000px) {
                font-size: 23px;
              }
            }
          }
        }
      }
    }
  }

  .column {

    margin-left: auto;

    .polygon {
      display: flex;
      width: 100%;
      align-items: center;
      flex-direction: column;

      &:after {
        content: '';
        position: absolute;
        opacity: 0;
        left: 0;
        top: 86px;
        z-index: 0;
        right: 0;
        background-color: rgba(255, 255, 255, 0.3);
        transition: all 0.2s ease-in-out;
        bottom: -10px;
      }

      &:hover {
        &:after {
          opacity: 0.7;
        }
      }
    }

    position: relative;
    user-select: none;

    &__st3-active {
      animation-name: anim2;
      animation-duration: 1s;
      animation-delay: 0.4s;
      animation-iteration-count: infinite;
    }

    &__st2-active {
      animation-name: anim1;
      animation-duration: 1s;
      animation-delay: 0.4s;
      animation-iteration-count: infinite;
    }

    &__st2-3-active {
      background-color: rgba(233, 117, 44, 1) !important;
    }

    &__st3-2-active {
      animation-name: anim2-2;
      animation-duration: 1s;
      animation-delay: 0.4s;
      animation-iteration-count: infinite;
    }

    &__st2-2-active {
      animation-name: anim1-2;
      animation-duration: 1s;
      animation-delay: 0.4s;
      animation-iteration-count: infinite;
    }

    &__st3-3-active {
      background-color: rgba(125, 97, 155, 1) !important;
    }

    &__st2 {



      .column__top {
        background-color: rgba(233, 117, 44, 0.3);



      }

      .column__search {
        opacity: 0.3;
      }
    }

    &__st3 {
      .column__top {
        background-color: rgba(233, 117, 44, 0.3);
      }

      .column__search {
        opacity: 0.3;
      }
    }

    &__7, &__8, &__9, &__10, &__11, &__12, &__13, &__14, &__15, &__16, &__17 {
      .column__top {
        background: rgba(125, 97, 155, 0.3);
        opacity: 1 !important;
      }

      .column__shop {
        //margin-top: 19px !important;
      }

      .column__audio {
        margin-top: 23px !important;
      }

      .column__search {
        margin-top: 24px !important;
      }
    }

    display: flex;
    flex-direction: column;
    width: 136px;
    align-items: center;

    &__top {
      width: 136px;
      max-width: 136px;
      height: 78px;
      background-color: #e9752c;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.2s ease-in-out;

      span {
        font-family: 'Times New Roman';
        font-size: 29px;
        color: #ffffff;
        text-align: center;

        @media screen and (min-width: 2000px) {
          font-size: 29px;
        }
      }
    }

    &__shop {
      transition: all 0.1s ease-in-out;
      opacity: 0.3;
      z-index: 5;
      width: 81px;
      height: 86px;
      object-fit: cover;
      margin-top: 17px;

      img {
        user-select: none;
        height: 100%;
        width: 100%;
        object-fit: contain;
      }

      &:hover {
        opacity: 0.7 !important;
      }

      &:active {
        opacity: 1 !important;
      }
    }

    &__audio {
      transition: all 0.1s ease-in-out;
      opacity: 0.3;
      z-index: 5;
      width: 76px;
      height: 74px;
      margin-top: 23px;

      img {
        height: 100%;
        width: 100%;
        object-fit: contain;
      }

      &:hover {
        opacity: 0.7 !important;
      }

      &:active {
        opacity: 1 !important;
      }
    }

    &__video {
      transition: all 0.1s ease-in-out;
      z-index: 5;
      width: 82px;
      height: 68px;
      opacity: 0.3;
      margin-top: 25px;

      img {
        object-fit: contain;
        height: 100%;
        width: 100%;
      }

      &:hover {
        opacity: 0.7 !important;
      }

      &:active {
        opacity: 1 !important;
      }
    }

    &__search {
      z-index: 5;
      width: 83px;
      height: 65px;
      margin-top: 24px;
      transition: all 0.2s ease-in-out;

      img {
        object-fit: contain;
        height: 100%;
        width: 100%;
      }

      &:hover {
        opacity: 0.7 !important;
      }

      &:active {
        opacity: 1 !important;
      }
    }

  }

  &__row {
    display: flex;
    row-gap: 27px;

    margin-top: 28px;

    &:last-child {
      margin-top: 0;

      .column {
        &:nth-child(1) {
          margin-left: 0;
        }
      }

    }

    &:first-child {

      .column {
        &:nth-child(2) {
          margin-left: 42px;
        }
      }

    }
  }

  .player-mobile {
    display: none;
  }

  .player {
    display: flex;
    height: 383px;
    flex-direction: column;
    width: 522px;
    gap: 10px;
    cursor: pointer;
    position: relative;

    video {
      height: 100%;
      width: 100%;
      object-fit: cover;
      max-height: 294px;
      flex: 1;

    }

    img {
      position: absolute;
      right: 13px;
      height: 47px;
      width: 47px;
      top: 101px;
      opacity: 0.74;
      box-shadow: 0px 3px 2px 0px #4e97bb;
    }

    &__top {
      min-height: 78px;
      margin-right: 38px;
      padding-top: 6px;
      padding-bottom: 5px;
      padding-left: 11px;
      background-color: #908a8a;
      display: flex;
      justify-content: space-between;
      flex-direction: column;

      span {
        font-family: 'Times New Roman';
        font-size: 25px;
        line-height: 20px;
        font-weight: 400;
        color: #ffffff;

        @media screen and (min-width: 2000px) {
          font-size: 25px;
        }
      }
    }
  }
}

.column {


  .polygon:hover > .column__shop, .polygon:hover > .column__audio, .polygon:hover > .column__video, .polygon:hover > .column__search {
    opacity: 0.5;
  }

}

.polygon:hover + .column__top {
  background-color: gainsboro;
}

.drawer {

  .close {
    height: 19px;
    width: 19px;
    user-select: none;
  }

  bottom: 0;
  top: 0;
  position: fixed;
  z-index: 999;
  width: 370px;
  transition: right 0.3s ease-in-out;
  background-color: #7e90a5;

  &__open {
    right: 0;
  }

  &__close {
    width: 0.99vw;
    height: 1.759vh;
    right: -100%;
  }

  &__top {
    width: 100%;
    height: 90px;
    background-color: #7e90a5;
    border-bottom: 3px solid #b8babb;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 2.083vw;
  }

  &__element {

    height: 94px;
    background-color: #7e90a5;
    border-bottom: 3px solid #b8babb;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease-in-out;

    &:hover {
      background-color: #4a5d73;
    }

    span {
      font-family: 'Arial';
      font-size: 29px;
      font-weight: 400;
      color: #ffffff;
      text-align: center;
    }
  }
}

.dialog {

  &__close {
    height: 46px;
    width: 46px;
    background: url('../../img/close-modal.png') no-repeat center;
    background-size: contain;
    opacity: 0.7;
    border: none;

    &:hover {
      opacity: 1;
    }
  }

  &__top {
    height: 70px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    padding: 0 12px 0 36px;
    background-image: linear-gradient(to bottom, #fff, #ef8d31);
    display: flex;
    justify-content: space-between;
    align-items: center;

    h4 {
      font-family: 'Arial';
      font-size: 41.7px;
      font-weight: 400;
      color: #000000;
    }
  }

  &__checkbox {
    display: flex;
    align-items: center;
    gap: 16px;
    padding-left: 281px;

    &:first-child {
      margin-top: 33px;
      height: 35px;
    }

    &:nth-child(2) {
      margin-top: 27px;
    }

    &:nth-child(6) {
      margin-top: 30px;
    }

    &:nth-child(7) {
      margin-top: 23px;
    }

    &:nth-child(8) {
      margin-top: 28px;
    }

  }

  &__center {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;

    form {

      h3 {
        text-align: center;
        margin-top: 58px;
        font-family: Arial;
        font-size: 41.7px;
        line-height: 43px;
        font-weight: 700;
        text-shadow: 0px 4px 3px #000000;
        color: #139306;
      }

      display: flex;
      flex-direction: column;
      width: 100%;

      h5 {
        line-height: 51px;
        margin-top: 21px;
      }

      .sep {
        align-self: center;
        width: 881px;
        height: 4px;
        box-shadow: 0px 1px 1px 0px #676666;
        background-color: #faffaf;
        margin-top: 13px;
        margin-bottom: 21px;
        align-self: center;

      }

      .sub {
        font-family: Arial;
        font-size: 33.4px;
        line-height: 31px;
        font-weight: 400;
        font-style: italic;
        color: #000000;
        text-align: center;
        margin-top: 37px;
      }

      label {
        font-family: Arial;
        font-size: 37.5px;
        line-height: 35px;
        font-weight: 400;
        color: #000000;
      }

    }

    h5 {
      font-family: Arial;
      font-size: 54.2px;
      font-weight: 400;
      color: #000000;
      line-height: 45px;
      text-align: center;
    }
  }
}


@keyframes anim1 {
  0% {background-color: rgba(233, 117, 44, 0.3);}
  50% {background-color: rgba(233, 117, 44, 1);}
  100% {background-color: rgba(233, 117, 44, 0.3);}
}

@keyframes anim1-2 {
  0% {background-color: rgba(233, 117, 44, 0.3);}
  50% {background-color: rgba(233, 117, 44, 1);}
  100% {background-color: rgba(233, 117, 44, 0.3);}
}

@keyframes anim2 {
  0% {background-color: rgba(125, 97, 155, 0.3);}
  50% {background-color: rgba(125, 97, 155, 1);}
  100% {background-color: rgba(125, 97, 155, 0.3);}
}

@keyframes anim2-2 {
  0% {background-color: rgba(125, 97, 155, 0.5);}
  50% {background-color: rgba(125, 97, 155, 1);}
  100% {background-color: rgba(125, 97, 155, 0.5);}
}

label {
  white-space: nowrap;
  span {
    font-style: italic;
  }
}

input[type='radio'] {
  box-sizing: border-box;
  display: block;
  width: 26px;
  height: 27px;
  border: none !important;
  background-size: 100% 100%;
  background-position: 0 0;
  text-indent: -99999px;
  appearance: none;
  background-image: url("../../img/not.png") !important;
}

input[type='radio']:hover {
  width: 26px;
  height: 27px;
  border: none !important;
  background-color: transparent !important;
  background-repeat: no-repeat;
  background-image: url("../../img/checked.png") !important;
  background-size: 100% 100%;

}

input[type='radio']:checked {
  width: 26px;
  height: 27px;
  border: none !important;
  background-image: url("../../img/checked.png") !important;
  background-size: 100% 100%;

}

#dialog1 {
  position: absolute;
  right: 63px;
  border-radius: 16px;
  left: auto;
  bottom: 55px;
  top: auto;
  width: 1237px;
  height: 837px;
  background: rgba(252, 254, 231, 0.75);
  opacity: 1;
  z-index: 999;
  visibility: hidden;
}