@media screen and (max-width: 1024px) and (orientation: landscape) {


  header {
    padding-top: 0.818vh;
  }

  .container {
    width: 100%;
    max-width: 100% !important;
  }

  .column {
    &__top {

      display: flex;
      justify-content: center !important;
      align-items: center;
      padding-top: 2.182vh !important;
      padding-bottom: 2.091vh !important;
      padding-left: 0.512vw !important;
      padding-right: 0.63vw !important;

      span {
        line-height: normal !important;
        font-size: 1.772vw !important;

        @media screen and (max-width: 800px) and (min-width: 701px) {
          font-size: 2.047vw !important;
        }
      }
    }

  }

  .player {
    width: 100% !important;
    height: 100% !important;
    max-height: 72.273vh !important;
    gap: 0.909vh !important;

    .resize {
      top: 11.273vh !important;
      right: 1.26vw !important;
      width: 4.409vw !important;
      height: 4.409vw !important;
      opacity: 0.74 !important;
      box-shadow: 1px 3px 2px 0px #4e97bb !important;
    }

    .video-js {
      max-height: 63.636vh !important;
      width: 100%;
      height: 63.636vh !important;
      flex: 0.93 !important;

      .vjs-poster img {
        object-fit: cover !important;
      }

      .vjs-big-play-button {
        font-size: 3vw !important;
      }
    }

    &__top {
      padding-left: 1.22vw !important;
      padding-right: 0.039vw !important;
      height: 7.636vh !important;
      min-height: 7.636vh !important;
      margin-right: 1.811vw !important;
      flex-direction: row !important;
      justify-content: flex-start !important;
      gap: 0.5vw;

      @media screen and (max-width: 700px) {
        margin-right: 9.016vw !important;
      }

      span {
        font-weight: 700 !important;
        font-family: TimesNewRoman,Times New Roman,Times,Baskerville,Georgia,serif;
        line-height: normal !important;
        font-size: 2vw !important;
        ;
      }

      .number {
        font-family: "Noto Serif JP", serif !important;
        line-height: 1 !important;
      }
    }
  }

  nav {
    padding-left: 0 !important;


    ul {
      justify-content: flex-end !important;
      gap: 2.48vw;
      padding-right: 2.717vw;

      @media screen and (max-width: 800px) {
        padding-right: 0;
      }

      li {
        &:nth-child(-n+6) {
          display: none;
        }

        &:last-child {
          margin-left: 0 !important;
        }

        .menu  {
          height: 10vh !important;
          width: 12.756vw !important;
          gap: 1vw !important;

          @media screen and (max-width: 700px) {
            height: 9vh !important;
          }

          span {
            font-size: 2.22vw !important;
            line-height: normal !important;
          }

          &__burger {

            row-gap: 1.6vh !important;

            @media screen and (max-width: 700px) {
              row-gap: 1.3vh !important;
            }

            span {
              height: 0.8vh !important;
              width: 3.622vw !important;

              @media screen and (max-width: 700px) {
                height: 0.60vh !important;
              }
            }
          }
        }

        .lk {
          span {
            font-size: 2.22vw !important;
          }
          gap: 1.378vw !important;
          img {
            width: 4.173vw !important;
            height: 4.173vw !important;
          }
        }
      }
    }
  }

  .main {
    padding: 0 3.661vw 0 3.031vw !important;
    overflow: hidden;

    &__desk {
      display: none !important;
    }

    .container {
      width: 100%;
      padding: 0;
      height: 100vh;
      display: flex;
      flex-direction: column;
      flex: none;
    }

    &__tablet {
      display: grid !important;
      overflow: auto;
      margin-top: 1.182vh;
      grid-template-columns: 1fr 1fr;
    flex: 1;
      gap: 3.189vw;
      margin-bottom: 0 !important;

      @media screen and (max-width: 800px) and (min-width: 701px) {
        gap: 4.055vw;
        grid-template-columns: 1.35fr 1fr;
      }
      @media screen and (max-width: 700px) {
        gap: 4.764vw;
        grid-template-columns: 2fr 1fr;
      }
    }

    &__row {
      margin-top: 3.727vh !important;
      padding-bottom: 6.364vh !important;
      row-gap: 3.091vh !important;
      flex-wrap: wrap;
      display: grid;
      column-gap: 2.992vw;
      overflow-y: scroll;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      height: 100%;

      @media screen and (max-width: 800px) and (min-width: 701px) {
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 3.583vw;
      }

      @media screen and (max-width: 700px) {
        grid-template-columns: 1fr 1fr;
      }

      &:last-child {
        margin-top: 0 !important;
      }

      .column {

        width: 100%;

        &__1 {
          margin-left: 4.488vw !important;
        }

        margin-left: auto;

        &__shop {
          width: 4.921vw;
          height: 12.182vh;
          margin-top: 2vh !important;

          @media screen and (max-width: 800px) and (min-width: 701px) {
            width: 5.945vw;
            height: 14.818vh;
            margin-top: 2.818vh;
          }
          @media screen and (max-width: 700px) {

          }
        }

        &__audio {
          width: 4.646vw;
          height: 10.455vh;
          margin-top: 3.364vh !important;

          @media screen and (max-width: 800px) and (min-width: 701px) {
            width: 5.63vw;
            height: 12.636vh;
            margin-top: 4.091vh;
          }
          @media screen and (max-width: 700px) {

          }
        }

        &__video {
          width: 4.961vw;
          height: 9.545vh;
          margin-top: 3.364vh !important;

          @media screen and (max-width: 800px) and (min-width: 701px) {
            width: 5.984vw;
            height: 11.727vh;
            margin-top: 3.727vh;
          }
          @media screen and (max-width: 700px) {

          }
        }

        &__search {
          width: 5.118vw;
          height: 9.182vh;
          margin-top: 3.091vh !important;

          @media screen and (max-width: 800px) and (min-width: 701px) {
            width: 6.181vw;
            height: 11.091vh;
            margin-top: 4vh;
          }
          @media screen and (max-width: 700px) {

          }
        }

        &__top {
          max-width: 100%;
          width: 100%;
          height: 11vh;
          padding: 0 !important;

          .number {
            font-family: "Noto Serif JP", serif !important;
            line-height: 1 !important;
          }

        }

        &:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4), &:nth-child(5), &:nth-child(6) {
          .column__top {
            background-color: rgba(233, 117, 44, 0.3) ;
          }
        }



        .polygon {
          align-items: center;

          &:after {
            top: 12.727vh !important;
            bottom: -1.182vh !important;
          }



        }
      }
    }
  }


  .drawer {
    top: 0.909vh;

    width: 23.189vw;

    &__top {
      padding-right: 1.52vw;
      height: 13.545vh;
      border-bottom: 3px solid #b8babb;

      button {

        display: flex;
        align-items: center;

        img {
          width: 1.181vw;
          height: 1.181vw;
        }
      }
    }

    &__element {
      height: 13.545vh;

      border-bottom: 3px solid #b8babb;

      span {
        font-size: 1.811vw;
      }

      &:nth-child(7) {
        border: none;
      }
    }

    bottom: auto;

    button.drawer__element {
      &:last-child {
        border: none;
      }
    }

    > div.drawer__element {
      display: none;
    }

  }


  #dialog1 {
    position: absolute;
    right: 3.611vw;
    border-radius: 12px;
    left: 3.611vw;
    bottom: 2px;
    top: auto;
    width: 52.205vw;
    height: 81.455vh;
    background: rgba(252, 254, 231, 0.75);
    opacity: 1;
    z-index: 999;
    margin-left: auto;
    visibility: hidden;
  }

  .dialog {

    &__dostup {
      display: block;
      align-self: center;
      margin-top: 5.727vh;
      margin-bottom: 8vh;
      width: 21.26vw;
    }

    &__top {
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
      height: 6.818vh;

    }

    &__close {
      width: 1.969vw;
      height: 4.545vh;
    }

    &__checkbox {
      padding-left: 12.222vw;
      gap: 0.551vw;

      &:first-child {
        margin-top: 3.045vh;
        height: 3.364vh;
      }

      &:nth-child(2) {
        height: 3.364vh;
        margin-top: 2.636vh;
      }

      &:nth-child(6) {
        margin-top: 2.909vh;
      }

      &:nth-child(7) {
        margin-top: 2.273vh;
      }

      &:nth-child(8) {
        margin-top: 2.727vh;
      }
    }

    &__top {
      height: 6.818vh;
      padding-right: 0.512vw;
      align-items: center;
      padding-left: 1.496vw;

      h4 {
        padding-top: 0;
        font-size: 1.799vw;
      }

      button {
        margin-top: 0;
      }
    }

    &__center {
      margin-top: 2.273vh;

      button {
        width: 9vw;
        height: 17vh;
        right: 6.181vw;
        bottom: 11.364vh;

        img {
          width: 100%;
          height: 100%;
        }
      }

      h5 {
        font-family: 'Arial';
        font-size: 2.287vw;
        font-weight: 400;
        line-height: 1.89vw;
        color: #000000;
      }

      form {

        h3 {
          display: none;
        }

        h5 {
          margin-top: 2.045vh;
          line-height: 3.273vh;
        }

        .sep {
          margin-top: 1.182vh;
          margin-bottom: 0;
          width: 37.165vw;
          height: 5px;
          box-shadow: 0px 1px 1px 0px #676666;
        }

        .sub {
          margin-top: 3.727vh;
          font-size: 1.406vw;
          line-height: 1.299vw;
        }

        label {
          font-size: 1.583vw;
          line-height: 1.389vw;
        }

        h3 {
          margin-top: 5.409vh;
          margin-bottom: 7.045vh;
          font-size: 4.056vw;
          line-height: 2.455vh;
          font-weight: 700;
          text-shadow: 2px 3px 3px #000000;
          color: #139306;
        }
      }
    }
  }

  input[type='radio'] {
    width: 1.1vw;
    height: 2.2vh;
  }

  input[type='radio']:hover {
    width: 1.1vw;
    height: 2.2vh;
  }

  input[type='radio']:checked {
    width: 1.1vw;
    height: 2.2vh;
  }

  .main__row:last-child .column:nth-child(1) {
    margin-left: auto !important;

    .column__search {
      opacity: 1 !important;
    }
  }

}

